<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<link href="https://unpkg.com/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet">

<div class="container">
  <div cdkDropListGroup class="calendar">
    <!-- All lists in here will be connected. -->
    <ol
      cdkDropList
      *ngFor="let date of dates"
      [cdkDropListData]="dateTasks[date - 1]"
      class="day-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="day">{{date}}</div>
      <li class="task-container">
        <div class="task" *ngFor="let item of dateTasks[date - 1]" cdkDrag>
          <p class="task-label">{{item}}</p>
          <mat-icon class="delete-icon" (click)="deleteTask(item, date - 1)">delete</mat-icon>
        </div>
      </li>
      <button type="button" class="add-button" mat-raised-button (click)="addNewAppointment(date)">Add appointment</button>
    </ol>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
